<div [style.height.px]="waveHeight" class="wave-container" [class.turn-left]="isOdd"
    [class.turn-right]="!isOdd">

     <svg width="150%" height="100%" xmlns="http://www.w3.org/2000/svg">
        <defs>
            <pattern id="miPatron{{id}}" width="480" [attr.y]="waveHeight" height="860" patternUnits="userSpaceOnUse">
                <path
                    d="M 0 0 v 800 c 40 80 40 80 80 0 s 40 -80 80 0 c 28 56 44 56 80 0 c 36 -60 48 -60 80 0 c 20 40 60 40 80 0 c 20 -44 56 -44 80 0 V 0">
                </path>
            </pattern>
        </defs>
        <rect width="100%" [attr.height]="waveHeight" [attr.fill]="'url(#miPatron'+id+')' "></rect>
    </svg>
</div>
