$transparency: 0.4;
$light: 60%;
$blur: 10px;

.container {
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    -webkit-filter: blur($blur);
}
#control-height {
    height: 100vh;
    width: 0;
    position: absolute;
}
.wave {
    position: absolute;
    width: 120%;

}

.top {
    top: 0px;
    left: 0px;
}

.bottom {
    bottom: 0px;
}

.waves-container {
    position: relative;
    flex-grow: 1;
}

.white-block {
    height: 50px;
}

::ng-deep {

    .wave-container {
        display: flex;
        flex-direction: column;
        width: 150%;

        pattern {
            animation: 8s linear 0s infinite color-transition;
        }

        svg {
            display: block;
        }

        
    }

    .turn-left {

        animation: 5s linear 0s infinite translation-left;
    }

    .turn-right {

        animation: 5s linear 0s infinite translation-right;
    }
}

@keyframes color-transition {
    0% {
        fill: hsla(0, 100%, $light, $transparency);
    }

    25% {
        fill: hsla(90, 100%, $light, $transparency)
    }

    50% {
        fill: hsla(180, 100%, $light, $transparency);
    }

    75% {
        fill: hsla(270, 100%, $light, $transparency);
    }

    100% {
        fill: hsla(360, 100%, $light, $transparency);
    }
}

@keyframes background-color-transition {
    0% {
        background-color: hsla(0, 100%, $light, $transparency);
    }

    25% {
        background-color: hsla(90, 100%, $light, $transparency)
    }

    50% {
        background-color: hsla(180, 100%, $light, $transparency);
    }

    75% {
        background-color: hsla(270, 100%, $light, $transparency);
    }

    100% {
        background-color: hsla(360, 100%, $light, $transparency);
    }
}

///////////////////
.bottom {
    rotate: 180deg;
}

@keyframes translation-left {
    0% {
        translate: -480px 0px;
    }

    100% {
        translate: 0px 0px;
    }

}

@keyframes translation-right {
    0% {
        translate: 0px 0px;
    }

    100% {
        translate: -480px;
    }

}